<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: API Examples
## Random User and Fruityvice API Examples


Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Load and use RandomUser API, using `RandomUser()` Python library
*   Load and use Fruityvice API, using `requests` Python library
*   Load and use Open-Joke-API, using `requests` Python library

The purpose of this notebook is to provide more examples on how to use simple APIs. As you have already learned from previous videos and notebooks, API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other. 

The advantages of using APIs:
 *   **Automation**. Less human effort is required and workflows can be easily updated to become faster and more      
     productive.
 *   **Efficiency**. It allows to use the capabilities of one of the already developed APIs than to try to 
     independently implement some functionality from scratch.
 
The disadvantage of using APIs:
 *   **Security**. If the API is poorly integrated, it means it will be vulnerable to attacks, resulting in data breeches or losses having financial or reputation implications.

One of the applications we will use in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on [RandomUser](https://randomuser.me/documentation#intro) can be found here.

Another example of simple API we will use in this notebook is Fruityvice application. The Fruityvice API web service which provides data for all kinds of fruit! You can use Fruityvice to find out interesting information about fruit and educate yourself. The web service is completely free to use and contribute to.

## Example 1: RandomUser API
Bellow are Get Methods parameters that we can generate. For more information on the parameters, please visit this [documentation](https://randomuser.me/documentation) page.

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

To start using the API you can install the `randomuser` library running the `pip install` command.

In [1]:
!pip install randomuser

Collecting randomuser
  Downloading randomuser-1.6.tar.gz (5.0 kB)
Building wheels for collected packages: randomuser
  Building wheel for randomuser (setup.py): started
  Building wheel for randomuser (setup.py): finished with status 'done'
  Created wheel for randomuser: filename=randomuser-1.6-py3-none-any.whl size=5082 sha256=3922fdd259e7fa2b461b07049d39a02db8b890839610026ef8ec4fa6713c8a2e
  Stored in directory: c:\users\bulku\appdata\local\pip\cache\wheels\41\6f\23\878c103a235dc2d4e85a3965c124aae8a28470c541b81aa2ba
Successfully built randomuser
Installing collected packages: randomuser
Successfully installed randomuser-1.6

Then, we will load the necessary libraries.

In [5]:
from randomuser import RandomUser as RU
import pandas as pd

First, we will create a random user object, r.

In [6]:
r = RU()

Then, using `generate_users()` function, we get a list of random 10 users.

In [7]:
some_list = r.generate_users(10)

In [8]:
some_list

[<randomuser.RandomUser at 0x226406f4c10>,
 <randomuser.RandomUser at 0x226406f4d60>,
 <randomuser.RandomUser at 0x226406efcd0>,
 <randomuser.RandomUser at 0x226406ef6a0>,
 <randomuser.RandomUser at 0x226406efd00>,
 <randomuser.RandomUser at 0x226406efe50>,
 <randomuser.RandomUser at 0x22643516e80>,
 <randomuser.RandomUser at 0x22643516e50>,
 <randomuser.RandomUser at 0x22643516d00>,
 <randomuser.RandomUser at 0x22643516ee0>]

The **"Get Methods"** functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. For example, to get full name, we call `get_full_name()` function.

In [10]:
name = r.get_full_name()
name

'Mestan Karaduman'

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [11]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Gina Henderson   gina.henderson@example.com
Ù…Ø­Ù…Ø¯Ø¹Ù„ÛŒ Ù…Ø±Ø§Ø¯ÛŒ   mhmdaaly.mrdy@example.com
Angelika Philippe   angelika.philippe@example.com
Bertram Thomsen   bertram.thomsen@example.com
Edvard Westbye   edvard.westbye@example.com
Eline Noel   eline.noel@example.com
Savannah Snyder   savannah.snyder@example.com
Sharron Morgan   sharron.morgan@example.com
Eddie Harvey   eddie.harvey@example.com
Torstein RoksvÃ¥g   torstein.roksvag@example.com

## Exercise 1
In this Exercise, generate photos of the random 10 users.

In [13]:
## Write your code here
for user in some_list:
    print(user.get_picture())

https://randomuser.me/api/portraits/women/53.jpg
https://randomuser.me/api/portraits/men/12.jpg
https://randomuser.me/api/portraits/women/71.jpg
https://randomuser.me/api/portraits/men/84.jpg
https://randomuser.me/api/portraits/men/46.jpg
https://randomuser.me/api/portraits/women/26.jpg
https://randomuser.me/api/portraits/women/19.jpg
https://randomuser.me/api/portraits/women/35.jpg
https://randomuser.me/api/portraits/men/14.jpg
https://randomuser.me/api/portraits/men/28.jpg

<details><summary>Click here for the solution</summary>

```python
for user in some_list:
    print (user.get_picture())
```

</details>

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

In [14]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [15]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Ù…Ù‡Ø±Ø³Ø§ Ù…Ø±Ø§Ø¯ÛŒ,female,Ù‡Ù…Ø¯Ø§Ù†,Ú¯ÛŒÙ„Ø§Ù†,mhrs.mrdy@example.com,1981-06-20T08:41:10.698Z,https://randomuser.me/api/portraits/women/14.jpg
1,Anna Martin,female,Invercargill,Hawke'S Bay,anna.martin@example.com,1994-10-08T02:20:00.839Z,https://randomuser.me/api/portraits/women/46.jpg
2,Jacinto Freitas,male,Caraguatatuba,Rio Grande do Norte,jacinto.freitas@example.com,1969-09-01T02:12:39.529Z,https://randomuser.me/api/portraits/men/97.jpg
3,Arttu Tanner,male,Outokumpu,South Karelia,arttu.tanner@example.com,1986-05-10T23:18:26.362Z,https://randomuser.me/api/portraits/men/38.jpg
4,Albert Poulsen,male,BÃ¦lum,Midtjylland,albert.poulsen@example.com,1975-11-22T03:01:24.724Z,https://randomuser.me/api/portraits/men/64.jpg
5,Lydia Masson,female,BÃ¼ttikon,Vaud,lydia.masson@example.com,1945-06-30T22:16:33.741Z,https://randomuser.me/api/portraits/women/35.jpg
6,HanaÃ© Gautier,female,Metz,Vienne,hanae.gautier@example.com,1967-03-04T12:46:55.592Z,https://randomuser.me/api/portraits/women/6.jpg
7,Kristine Hildre,female,Yli,Oslo,kristine.hildre@example.com,1945-11-22T19:04:33.023Z,https://randomuser.me/api/portraits/women/48.jpg
8,Julia Vargas,female,Edinburgh,Mid Glamorgan,julia.vargas@example.com,1982-12-30T10:06:35.589Z,https://randomuser.me/api/portraits/women/77.jpg
9,Georgios Eckart,male,Giengen an der Brenz,Sachsen-Anhalt,georgios.eckart@example.com,1992-11-19T12:33:23.463Z,https://randomuser.me/api/portraits/men/28.jpg

In [24]:
df1 = pd.DataFrame(get_users())  
df1.dtypes

Name       object
Gender     object
City       object
State      object
Email      object
DOB        object
Picture    object
dtype: object

Now we have a *pandas* dataframe that can be used for any testing purposes that the tester might have.

## Example 2: Fruityvice API

Another, more common way to use APIs, is through `requests` library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [25]:
import requests
import json

We will obtain the [fruityvice](https://www.fruityvice.com) API data using `requests.get("url")` function. The data is in a json format.

In [26]:
data = requests.get("https://fruityvice.com/api/fruit/all")

We will retrieve results using `json.loads()` function.

In [27]:
results = json.loads(data.text)

We will convert our json data into *pandas* data frame.

In [29]:
pd.DataFrame(results).head()

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."

The result is in a nested json format. The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [30]:
df2 = pd.json_normalize(results)

In [32]:
df2.head()

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.0,18.0,18.0,0.0
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.4,5.4,5.5,0.8
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.2,17.2,22.0,1.0
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.2,2.6,3.9,0.9
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.1,10.0,15.0,0.4

Let's see if we can extract some information from this dataframe. Perhaps, we need to know the family and genus of a cherry.

In [33]:
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

('Rosaceae', 'Prunus')

## Exercise 2
In this Exercise, find out how many calories are contained in a banana.

In [38]:
# Write your code here
# banana = df2.loc[df2["name"]=='Banana']
(df2.loc[df2["name"]=='Banana'].iloc[0]['nutritions.calories'])

96

<details><summary>Click here for the solution</summary>

```python
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']
```

</details>

## Exercise 3

This [page](https://mixedanalytics.com/blog/list-actually-free-open-no-auth-needed-apis/) contains a list of free public APIs for you to practice. Let us deal with the following example.

#### Official Joke API 
This API returns random jokes from a database. The following URL can be used to retrieve 10 random jokes.

https://official-joke-api.appspot.com/jokes/ten

1. Using `requests.get("url")` function, load the data from the URL.

In [39]:
# Write your code here
url = 'https://official-joke-api.appspot.com/jokes/ten'
r = requests.get(url)
r

<details><summary>Click here for the solution</summary>

```python
data2 = requests.get("https://official-joke-api.appspot.com/jokes/ten")
```

</details>

2. Retrieve results using `json.loads()` function.

In [43]:
# Write your code here
results = json.loads(r.text)
results

[{'type': 'general',
  'setup': 'How many seconds are in a year?',
  'punchline': '12. January 2nd, February 2nd, March 2nd, April 2nd.... etc',
  'id': 143},
 {'type': 'general',
  'setup': 'Want to hear a joke about a piece of paper?',
  'punchline': "Never mind...it's tearable",
  'id': 40},
 {'type': 'programming',
  'setup': "Why dot net developers don't wear glasses?",
  'punchline': 'Because they see sharp.',
  'id': 383},
 {'type': 'programming',
  'setup': 'Lady: How do I spread love in this cruel world?',
  'punchline': 'Random Dude: [...ðŸ’˜]',
  'id': 59},
 {'type': 'general',
  'setup': "You see, mountains aren't just funny.",
  'punchline': 'They are hill areas.',
  'id': 408},
 {'type': 'general',
  'setup': 'How does a scientist freshen their breath?',
  'punchline': 'With experi-mints!',
  'id': 136},
 {'type': 'general',
  'setup': 'Why are ghosts bad liars?',
  'punchline': 'Because you can see right through them!',
  'id': 305},
 {'type': 'general',
  'setup': 'Want to hear a chimney joke?',
  'punchline': "Got stacks of em! First one's on the house",
  'id': 152},
 {'type': 'general',
  'setup': 'Why was Cinderalla thrown out of the football team?',
  'punchline': 'Because she ran away from the ball.',
  'id': 380},
 {'type': 'general',
  'setup': 'Did you hear about the hungry clock?',
  'punchline': 'It went back four seconds.',
  'id': 64}]

<details><summary>Click here for the solution</summary>

```python
results2 = json.loads(data2.text)
```

</details>

3. Convert json data into *pandas* data frame. Drop the type and id columns.

In [47]:
# Write your code here
df3 = pd.DataFrame(results)
df3

,type,setup,punchline,id
0,general,How many seconds are in a year?,"12. January 2nd, February 2nd, March 2nd, Apri...",143
1,general,Want to hear a joke about a piece of paper?,Never mind...it's tearable,40
2,programming,Why dot net developers don't wear glasses?,Because they see sharp.,383
3,programming,Lady: How do I spread love in this cruel world?,Random Dude: [...ðŸ’˜],59
4,general,"You see, mountains aren't just funny.",They are hill areas.,408
5,general,How does a scientist freshen their breath?,With experi-mints!,136
6,general,Why are ghosts bad liars?,Because you can see right through them!,305
7,general,Want to hear a chimney joke?,Got stacks of em! First one's on the house,152
8,general,Why was Cinderalla thrown out of the football ...,Because she ran away from the ball.,380
9,general,Did you hear about the hungry clock?,It went back four seconds.,64

<details><summary>Click here for the solution</summary>

```python
df3 = pd.DataFrame(results2)
df3.drop(columns=["type","id"],inplace=True)
df3
```

</details>

# Congratulations! - You have completed the lab

## Author
<a href="https://www.linkedin.com/in/svitlana-kramar" target="_blank">Svitlana Kramar</a>

Svitlana is a masterâ€™s degree Data Science and Analytics student at University of Calgary, who enjoys travelling, learning new languages and cultures and loves spreading her passion for Data Science.

## Additional Contributor
<a href="https://www.linkedin.com/in/abhishek-gagneja-23051987/" target="_blank">Abhishek Gagneja</a>

Copyright Â© 2023 IBM Corporation. All rights reserved.